<div>
    <mat-toolbar><mat-icon>public</mat-icon> <span>Мој друштвени ИНФО</span>
        <button mat-flat-button class="mat-secondary" (click)="back()">Назад</button>
      <button mat-flat-button class="mat-secondary" style="position: absolute; right: 0;" (click)="logout()">Одјави се</button>
    </mat-toolbar>
    <h1 style="text-align:center" class="card-header bg-info">
        Подаци са профила друштвених мрежа
      </h1>
      <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
        <div *ngIf="userProfileFacebook">
          <form class="full-width" [formGroup]="formFacebook">
            <h4>
              Фејсбук
            </h4>
            <div class="">
                <mat-form-field class="full-width">
                    <input matInput formControlName="first_name"
                        placeholder="Име">
                </mat-form-field>
            </div>
            <div class="">
              <mat-form-field class="full-width">
                  <input matInput formControlName="last_name" readonly
                      placeholder="Презиме">
              </mat-form-field>
            </div>
            <div class="">
              <mat-form-field class="full-width">
                  <input matInput formControlName="email" readonly
                      placeholder="Адреса електронске поште">
              </mat-form-field>
            </div>
            <div class="">
              <mat-form-field class="full-width">
                  <input matInput formControlName="location" readonly
                      placeholder="Локација">
              </mat-form-field>
            </div>
            <div class="">
              <mat-form-field class="full-width">
                  <input matInput formControlName="birthday" readonly
                      placeholder="Рођендан">
              </mat-form-field>
            </div>
            <div class="">
              <mat-form-field class="full-width">
                  <input matInput formControlName="screen_name" readonly
                      placeholder="Надимак">
              </mat-form-field>
            </div>
            </form>
          </div>
          <div *ngIf="userProfileTwitter">
            <form [formGroup]="formTwitter">
              <h4>
                Твитер
              </h4>
              <div class="">
                  <mat-form-field class="full-width">
                      <input matInput formControlName="first_name"
                          placeholder="Име">
                  </mat-form-field>
              </div>
              <div class="">
                <mat-form-field class="full-width">
                    <input matInput formControlName="last_name" readonly
                        placeholder="Презиме">
                </mat-form-field>
              </div>
              <div class="">
                <mat-form-field class="full-width">
                    <input matInput formControlName="email" readonly
                        placeholder="Адреса електронске поште">
                </mat-form-field>
              </div>
              <div class="">
                <mat-form-field class="full-width">
                    <input matInput formControlName="location" readonly
                        placeholder="Локација">
                </mat-form-field>
              </div>
              <div class="">
                <mat-form-field class="full-width">
                    <input matInput formControlName="birthday" readonly
                        placeholder="Рођендан">
                </mat-form-field>
              </div>
              <div class="">
                <mat-form-field class="full-width">
                    <input matInput formControlName="screen_name" readonly
                        placeholder="Надимак">
                </mat-form-field>
              </div>
              </form>
          </div>
          
          <div *ngIf="userProfileYoutube">
            <form [formGroup]="formYoutube">
              <h4>
                Јутјуб
              </h4>
              <div class="">
                  <mat-form-field class="full-width">
                      <input matInput formControlName="first_name"
                          placeholder="Име">
                  </mat-form-field>
              </div>
              <div class="">
                <mat-form-field class="full-width">
                    <input matInput formControlName="last_name" readonly
                        placeholder="Презиме">
                </mat-form-field>
              </div>
              <div class="">
                <mat-form-field class="full-width">
                    <input matInput formControlName="email" readonly
                        placeholder="Адреса електронске поште">
                </mat-form-field>
              </div>
              <div class="">
                <mat-form-field class="full-width">
                    <input matInput formControlName="location" readonly
                        placeholder="Локација">
                </mat-form-field>
              </div>
              <div class="">
                <mat-form-field class="full-width">
                    <input matInput formControlName="birthday" readonly
                        placeholder="Рођендан">
                </mat-form-field>
              </div>
              <div class="">
                <mat-form-field class="full-width">
                    <input matInput formControlName="screen_name" readonly
                        placeholder="Надимак">
                </mat-form-field>
              </div>
              </form>
          </div>
      </div>
</div>
<footer class="footer">
  © 2020 Филип Карић 2017/3707
</footer>