<div>
    <mat-toolbar><mat-icon>public</mat-icon> <span>Мој друштвени ИНФО</span>
        <button mat-flat-button class="mat-secondary" (click)="back()"  style="margin-left: 15px;">Назад</button>
      <button mat-flat-button class="mat-secondary" style="position: absolute; right: 0; margin-right: 15px;" (click)="logout()">Одјави се</button>
    </mat-toolbar>
    <h1 style="text-align:center" class="card-header bg-info">
        Подаци са профила друштвених мрежа
      </h1>
      <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
        <div fxFlex="25" *ngIf="facebookProfileValues.length > 0">
            <h4 style="color: #3B5998">
              Фејсбук
            </h4>
            <form [formGroup]="formFacebook">
              <ng-container *ngFor="let x of facebookProfileValues">
                <mat-form-field class="full-width">
                  <input matInput formControlName="screen_name" readonly
                      placeholder={{x.name}} value={{x.value}}>
                </mat-form-field>
              </ng-container>
            </form>
          </div>
          <div fxFlex="25" *ngIf="twitterProfileValues.length > 0">
              <h4 style="color: #00ACEE">
                Твитер
              </h4>
                <form [formGroup]="formFacebook">
                  <ng-container *ngFor="let x of twitterProfileValues">
                    <mat-form-field class="full-width">
                      <input matInput formControlName="screen_name" readonly
                          placeholder={{x.name}} value={{x.value}}>
                    </mat-form-field>
                  </ng-container>
                </form>
          </div>
          <div fxFlex="25" *ngIf="youtubeProfileValues.length > 0">
              <h4 style="color: #FF0000">
                Јутјуб
              </h4>
              <div *ngIf="youtubeProfileValues.length > 0">
                <form [formGroup]="formFacebook">
                  <ng-container *ngFor="let x of youtubeProfileValues">
                    <mat-form-field class="full-width">
                      <input matInput formControlName="screen_name" readonly
                          placeholder={{x.name}} value={{x.value}}>
                    </mat-form-field>
                  </ng-container>
                  </mat-form-field>
                </form>
              </div>
          </div>
      </div>
</div>
<footer class="footer">
  © 2020 Филип Карић 2017/3707
</footer>