<mat-toolbar>My Social Info</mat-toolbar>
<button mat-flat-button class="mat-primary full-width" (click)="facebookLogin()">Facebook login</button>
<button mat-flat-button class="mat-primary full-width" (click)="twitterLogin()">Twitter login</button>
<button mat-flat-button class="mat-primary full-width" (click)="youtubeLogin()">Youtube login</button>
<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center"> -->
  <div fxLayout="column">
    <h1 class="card-header bg-info">
      Welcome to {{ title }}!
    </h1>
    <h3 class="text-secondary">
      PEV Selling Countries
    </h3>
    <div>
            <h4>
              Vertical Bar Chart
            </h4>
                <ngx-charts-bar-vertical
                [view]="view"
                [scheme]="colorScheme"
                [results]="single"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                (select)="onSelect($event)">
                </ngx-charts-bar-vertical>
      </div>
      <div>
            <h4>
              Vertical Bar Chart Normalized
            </h4>
            <ngx-charts-bar-vertical-normalized
            [view]="view"
            [scheme]="colorScheme"
            [results]="multi"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            (select)="onSelect($event)">
            </ngx-charts-bar-vertical-normalized>
      </div>
      <div>
        <h4>
          Stacked Vertical Bar Chart
        </h4>
        <ngx-charts-bar-vertical-stacked
        [view]="view"
        [scheme]="colorScheme"
        [results]="multi"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
        </ngx-charts-bar-vertical-stacked>
      </div>
  </div>