<div>
<mat-toolbar><mat-icon>public</mat-icon> Мој друштвени ИНФО
  <button mat-flat-button class="mat-secondary" style="position: absolute; right: 0;" (click)="logout()">Одјави се</button></mat-toolbar>
<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center"> -->
  <h1 style="text-align:center" class="card-header bg-info">
    Добродошли на преглед ваших активности на друштвеним мрежама!
  </h1>
  <h2 style="text-align:center" class="card-header bg-info">
    Пријавите се на друштвену мрежу кликом на дугме испод
  </h2>
  <div fxLayout="row wrap" fxLayoutAlign="center">
    <button mat-flat-button class="facebook loginButton mat-primary full-width" (click)="facebookLogin()" [disabled]='facebookLoggedIn'>Фејсбук пријава</button>
    <button mat-flat-button class="twitter loginButton mat-primary full-width" (click)="twitterLogin()" [disabled]='twitterLoggedIn'>Твитер пријава</button>
    <button mat-flat-button class="youtube loginButton mat-primary full-width" (click)="youtubeLogin()"[disabled]='youtubeLoggedIn'>Јутјуб пријава</button>
  </div>
  <div class="barsContainer" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
    <div *ngIf="numberOfPostsGraphData && numberOfPostsGraphData.length > 0">
            <h4>
              Број објава по друштвеној мрежи
            </h4>
                <ngx-charts-bar-vertical
                [view]="view"
                [scheme]="colorScheme"
                [results]="numberOfPostsGraphData"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel">
                <!-- (select)="onSelect($event)"> -->
                </ngx-charts-bar-vertical>
      </div>
      <div *ngIf="multiGraphData && multiGraphData.length > 0">
            <h4>
              Vertical Bar Chart Normalized
            </h4>
            <ngx-charts-bar-vertical-normalized
            [view]="view"
            [scheme]="colorSchemeMulti"
            [results]="multiGraphData"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel">
            <!-- (select)="onSelect($event)"> -->
            </ngx-charts-bar-vertical-normalized>
      </div>
      
      <div *ngIf="multiGraphData && multiGraphData.length > 0">
        <h4>
          Stacked Vertical Bar Chart
        </h4>
        <ngx-charts-bar-vertical-stacked
        [view]="view"
        [scheme]="colorSchemeMulti"
        [results]="multiGraphData"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
        </ngx-charts-bar-vertical-stacked>
      </div>
  </div>
</div>
<footer class="footer">
  © 2020 Филип Карић 2017/3707
</footer>